input {
   border: 0;
   border-radius: $border-radius;
   background-color: black;
   padding: .5rem 1.5rem;
   margin-right: 1rem;
   font-size: 1rem;
   color: $txt-color;
   font-family: $font-family;
}